
            <div class="col-lg-9 main-chart">              

              <div class="row mt" >                     	
                <div class="col-md-4 mb" ng-repeat="child in childs" ng-click="openProfile(child)">
                 <!-- WHITE PANEL - TOP USER -->
                 <div class="white-panel pn">
                  <div class="white-header">
                   <h5 class = "dashNames">{{child.name}}</h5>
                 </div>
                 <img ng-src="{{child.photo}}" class="dashPics">
                               
                </div>
              </div>
            </div><!-- /col-md-4 -->


    
 